.idea/
.vscode/
__pycache__/
*.pem

data/
info/
checkpoint/
results/
*.out
**/*.out

*.pkl

tst-translation/
t5-small—translation-czy/
t5-small-translation-czy/
t5-small—translation/
t5-small-translation/
